# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

***Objectives***
* List of data science popular languages
* List of the commonly used data science libraries
* List of data science tools

***Some of the popular languages that Data Scientists use are:***
1. Python
2. R
3. SQL

***Some of the commonly used libraries used by Data Scientists include:***
1. Pandas
2. Numpy
3. Scikit-learn

| Data Science Tools |
| --- |
| RStudio | 
| Apache Spark | 
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [13]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 / 60
print(minutes)

3.3333333333333335

## Author
Michael